{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Description | markdownify }}</h2>
        <h2 class="headline">
        {{ .Date.Format "2" }}
        {{ index $.Site.Data.dates.months (.Date.Format "1") }}
        {{ .Date.Format "2006" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    <div>
        <img class="avatar" src="{{ "images/avatar.png" | absURL }}" style="float: left">
        <span class="dark">Gabitopia</span>
        <span>{{ .Site.Params.aboutAuthor }}</span>
    </div>
    <section id="sharing" style="margin-top: 20px">
        {{ partial "share.html" . }}
    </section>
</footer>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.3&appId=MY_APP_ID&autoLogAppEvents=1">
</script>
<center>
    <div class="fb-comments"
         data-width="500"
         data-href="{{ .Page.Permalink }}"
    >
    </div>
</center>

<hr/>

{{ partial "latest-posts.html" . }}
{{ end }}
